{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}

{% embed 'SonataAdminBundle:CRUD:base_edit_form.html.twig' %}

    {% block formactions %}

        <div class="well well-small form-actions">
            {% if app.request.isxmlhttprequest %}
                {% if admin.id(object) is not null %}
                    <input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}">
                {% else %}
                    <input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}">
                {% endif %}
            {% else %}
                {% if admin.supportsPreviewMode %}
                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                        <i class="icon-eye-open"></i>
                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}
                {% if admin.id(object) is not null %}
                    <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}">

                    {% if admin.hasroute('list') %}
                        <input type="submit" class="btn" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}">
                    {% endif %}

                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}

                    {% if admin.hasRoute('install-counter') and object.number is null %}
                        <a class="btn btn-warring" href="{{ admin.generateObjectUrl('install-counter', object) }}">Установить счетчик</a>
                    {% endif %}

                    {% if admin.hasRoute('install-goals') and object.number is not null %}
                        <a class="btn btn-warning" href="{{ admin.generateObjectUrl('install-goals', object) }}">Установить цели</a>
                    {% endif %}

                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                        <a class="btn" href="{{ admin.generateObjectUrl('acl', object) }}">{{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}
                {% else %}
                    {% if admin.hasRoute('edit') %}
                        <input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}">
                    {% endif %}
                    {% if admin.hasRoute('list') %}
                        <input type="submit" class="btn" name="btn_create_and_list" value="{{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}">
                    {% endif %}
                    <input class="btn" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}">
                {% endif %}
            {% endif %}
        </div>


    {% endblock %}

{% endembed %}

{% endblock %}